@{
    ViewData["Title"] = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="sec-title">Đơn hàng của bạn đã được đặt</h2>
        <p class="sec-desc">
            Bạn vui lòng check email @ViewBag.email (kể cả trong spam) để nhận mã đơn hàng. <br />
            Mã đơn hàng được dùng để xem trạng thái đơn hàng.
        </p>
    </div>
</div>