
@{
    ViewData["Title"] = "ShopOnline Admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Dashboard</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">ShopOnline</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<h1>
    Xây dựng phần mềm web sáng thứ 2 và sáng thứ 4
</h1>
<br />
<h3>
    Nhóm 4<br />
    Vũ Minh Đức - DH52006863 (Nhóm trưởng)<br />
    Cao Vũ Khang - DH51804821<br />
    Huỳnh Công Nhã - DH51805206
</h3>
<br />
<h3>
    Thông tin tài khoản giao hàng tiết kiệm được tích hợp trong hệ thống<br />
    sdt: 0968910073<br />
    pass: @("@iAMHERMOX123")<br />
    Token: 3c2c765d84f05a587123324ed30e9323458b25d4
</h3>
<br />
<h3>
    Ghi chú<br />
    Giao hàng tiết kiệm chỉ thu tiền hộ (COD) dưới 20tr và chỉ giao hàng có khối lượng dưới 20kg<br />
    Hệ thống thanh toán của VNPAY ở môi trường thử nghiệm chỉ nhận hóa đơn dưới 20tr<br />
</h3>
